{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags %}


{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block index_main %}

<!-- ******HEADER****** --> 
<header class="header">
  <div class="container">                       
    <img class="profile-image img-responsive pull-left" src="{{ MEDIA_URL }}uploads/myblog/mainpic_300x300.jpg" alt="Generic placeholder image" />
    <div class="profile-content pull-left">
      <h1 class="name">Kim Wonjin</h1>
      <h2 class="desc">Entrepreneur and Software Engineer</h2>
      <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Seoul, South Korea</li>
	  <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span>onejean81[at]gmail[dot]com</li>
	  <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://www.wjkim.com">http://www.wjkim.com</a></li>
      </br>
      <ul class="social list-inline">
	    <li><a href="http://www.facebook.com/onejean81/" target="_blank"><i class="fa fa-facebook fbicon"></i></a></li>
	    <li><a href="https://www.instagram.com/onejeannnn/" target="_blank"><i class="fa fa-instagram instagramicon"></i></a></li>
		{% comment %}
        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
		{% endcomment %}
        <li><a href="#" target="_blank"><i class="fa fa-linkedin linkedinicon"></i></a></li>
        <li><a href="https://github.com/wjkim81" target="_blank"><i class="fa fa-github-alt githubicon"></i></a></li>
		
        <!--
        <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>
		-->
      </ul>
    </div><!--//profile-->
	{% comment %}
    <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
	{% endcomment %}            
  </div><!--//container-->
</header><!--//header-->
    
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            <p>I received my B.S. in Electrical Engineering from Korea Advanced Institute of Science and Technology (KAIST) in 2008 and my master degree with Computer Vision and Machine Learning specialization from KAIST in 2011 under the supervision of Prof. Inso Kweon.</p> 
			<p>I worked in IBM as a software engineer in analytics unit and helped various Korean companies to adopt IBM solutions in their business from 2012 to 2016.I worked in startup company <a href="http://vntc.me" target="_blank">VNTC</a> as a technical leader from 2016 to 2017, which developed personalized spinal correction device for scoliosis patients with 3D printer technology.</p>
			<p>I am currently a Data Science and entrepreneur to prepare new business to adopt blockchain technology in distributions industries.</p>
                         
          </div><!--//content-->
        </div><!--//section-inner-->                 
      </section><!--//section-->
    

    </div><!--//primary-->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      {% comment %}
      <aside class="info aside section">
        <div class="section-inner">
	      <h2 class="heading sr-only">Basic Information</h2>
	      <div class="content">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Seoul, South Korea</li>
		      <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">onejean81[at]gmail[dot]com</a></li>
              <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.wjkim.com</a></li>
		    </ul>
	      </div><!--//content-->  
        </div><!--//section-inner-->                 
      </aside><!--//aside-->
                
      <aside class="skills aside section">
        <div class="section-inner">
	      <h2 class="heading">Skills</h2>
	      <div class="content">
		    <p class="intro">Intro about your skills goes here. Keep the list lean and only show your primary skillset. You can always provide a link to your Linkedin or Coderwall profile so people can get more info there.</p>
                            
            <div class="skillset">
                               
			  <div class="item">
			    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h3>
				<div class="level-bar">
				  <div class="level-bar-inner" data-level="96%">
				  </div>                                      
                </div><!--//level-bar-->                                 
              </div><!--//item-->
                                
              <div class="item">
              <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Expert</span></h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%">
                  </div>                                      
                </div><!--//level-bar-->                                 
              </div><!--//item-->
                                
              <div class="item">
                <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS<span class="level-label">Expert</span></h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%">
                  </div>                                      
                </div><!--//level-bar-->                                 
              </div><!--//item-->
                                
              <div class="item">
                <h3 class="level-title">Ruby on Rails<span class="level-label">Pro</span></h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="85%">
                  </div>                                      
                </div><!--//level-bar-->                                 
              </div><!--//item-->
                                
              <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Coderwall</a></p> 
            </div>              
		  </div><!--//content-->  
	    </div><!--//section-inner-->                 
      </aside><!--//section-->
               
      <aside class="testimonials aside section">
	    <div class="section-inner">
		  <h2 class="heading">Testimonials</h2>
		  <div class="content">
            <div class="item">
              <blockquote class="quote">                                  
                <p><i class="fa fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
              </blockquote>                
              <p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>                                                             
            </div><!--//item-->
                            
			<p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Linkedin</a></p> 
                            
		  </div><!--//content-->
	    </div><!--//section-inner-->
      </aside><!--//section-->
                
      <aside class="education aside section">
	    <div class="section-inner">
		  <h2 class="heading">Education</h2>
		  <div class="content">
            <div class="item">                      
              <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Psychology and Computer Science</h3>
              <h4 class="university">University College London <span class="year">(2011-2012)</span></h4>
			</div><!--//item-->
			<div class="item">
              <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Computer Science</h3>
              <h4 class="university">University of Bristol <span class="year">(2008-2011)</span></h4>
			</div><!--//item-->
		  </div><!--//content-->
	    </div><!--//section-inner-->
      </aside><!--//section-->
                            
      <aside class="languages aside section">
	    <div class="section-inner">
		  <h2 class="heading">Languages</h2>
		    <div class="content">
			  <ul class="list-unstyled">
                <li class="item">
                  <span class="title"><strong>English:</strong></span>
                  <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                </li><!--//item-->
                <li class="item">
                  <span class="title"><strong>Spanish:</strong></span>
                  <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
				</li><!--//item-->
			  </ul>
		    </div><!--//content-->
	      </div><!--//section-inner-->
      </aside><!--//section-->
      {% endcomment %}
      <aside class="blog aside section">
	    <div class="section-inner">
		  <h2 class="heading">Latest Blog Posts</h2>
		  <p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>
		  <div id="rss-feeds" class="content">

		  </div><!--//content-->
	    </div><!--//section-inner-->
      </aside><!--//section-->

      {% comment %}  
      <aside class="list music aside section">
	    <div class="section-inner">
		  <h2 class="heading">Favourite coding music</h2>
		  <div class="content">
	        <ul class="list-unstyled">
			  <li><i class="fa fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
			  <li><i class="fa fa-headphones"></i> <a href="#">Ut sollicitudin in mauris non auctor</a></li>
			  <li><i class="fa fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
			  <li><i class="fa fa-headphones"></i> <a href="#">Duis et felis bibendum</a></li>
			</ul>
		  </div><!--//content-->
	    </div><!--//section-inner-->
      </aside><!--//section-->
                
      <aside class="list conferences aside section">
        <div class="section-inner">
		  <h2 class="heading">Conferences</h2>
		  <div class="content">
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar"></i> <a href="https://developer.apple.com/wwdc/" target="_blank">WWDC 2014</a> (San Francisco)</li>
              <li><i class="fa fa-calendar"></i> <a href="http://hive.aigaseattle.org/">Hive</a> (Seattle)</li>
            </ul>
		  </div><!--//content-->
	    </div><!--//section-inner-->
      </aside><!--//section-->
                
      <aside class="credits aside section">
	    <div class="section-inner">
		  <h2 class="heading">Credits</h2>
		  <div class="content">
		    <ul class="list-unstyled">
		      <li><a href="http://getbootstrap.com/" target="_blank"><i class="fa fa-external-link"></i> Bootstrap 3.2</a></li>
			  <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fa fa-external-link"></i> FontAwsome 4.1</a></li>
			  <li><a href="http://jquery.com/" target="_blank"><i class="fa fa-external-link"></i> jQuery</a></li>
			  <li><a href="http://caseyscarborough.com/projects/github-activity/" target="_blank"><i class="fa fa-external-link"></i> GitHub Activity Stream</a></li>
                                
			  <li><a href="https://github.com/sdepold/jquery-rss" target="_blank"><i class="fa fa-external-link"></i> jQuery RSS</a></li>
                                
			  <li>Profile image: <a href="https://www.flickr.com/photos/dotbenjamin/2577394151" target="_blank">Ben Smith</a></li>
			  <li>iPad and iPhone mocks: <a href="https://dribbble.com/perlerar" target="_blank">Regy Perlera</a></li>
                                
			</ul>
                            
			<hr/>
                            
			<p>This responsive HTML5 CSS3 site template is handcrafted by UX designer <a href="https://www.linkedin.com/in/xiaoying" target="_blank">Xiaoying Riley</a> at <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a> for developers and is <strong>FREE</strong> under the <a class="dotted-link" href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License</a></p>
            <p>We will improve or add new features to this template based on users' feedback so follow us on twitter to get notified when a new version is out!</p>
            <a class="btn btn-cta-secondary btn-follow" href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i> Follow us</a>
			<a class="btn btn-cta-primary btn-download" href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" target="_blank"><i class="fa fa-download"></i> I want to download</a>
		  </div><!--//content-->
	    </div><!--//section-inner-->
      </aside><!--//section-->
      {% endcomment %}
	  
    </div><!--//secondary-->    
  </div><!--//row-->
</div><!--//masonry-->

{% endblock %}
