{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags mytags %}


{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block index_main %}

<!-- ******HEADER****** --> 
<header class="header">
  <div class="container">                       
    <img class="profile-image img-responsive pull-left" src="{{ MEDIA_URL }}uploads/myblog/mainpic_300x300.jpg" alt="Generic placeholder image" />
    <div class="profile-content pull-left">
      <h1 class="name">Kim Wonjin</h1>
      <h2 class="desc">Entrepreneur and Data Scienctist</h2>
      <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Seoul, South Korea</li>
	  <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span>onejean81[at]gmail[dot]com</li>
	  <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://www.wjkim.com">http://www.wjkim.com</a></li>
      </br>
      <ul class="social list-inline">
	    <li><a href="http://www.facebook.com/onejean81/" target="_blank"><i class="fa fa-facebook fbicon"></i></a></li>
	    <li><a href="https://www.instagram.com/onejeannnn/" target="_blank"><i class="fa fa-instagram instagramicon"></i></a></li>
		{% comment %}
        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
		{% endcomment %}
        <li><a href="https://www.linkedin.com/in/wonjin-kim-2b15a25a/" target="_blank"><i class="fa fa-linkedin linkedinicon"></i></a></li>
        <li><a href="https://github.com/wjkim81" target="_blank"><i class="fa fa-github-alt githubicon"></i></a></li>
		
        <!--
        <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>
		-->
      </ul>
    </div><!--//profile-->
	{% comment %}
    <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
	{% endcomment %}            
  </div><!--//container-->
</header><!--//header-->
    
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            <p>I received my B.S. in Electrical Engineering from Korea Advanced Institute of Science and Technology (KAIST) in 2008 and my master degree with Computer Vision and Machine Learning specialization from KAIST in 2011 under the supervision of <a href="http://rcv.kaist.ac.kr/" target="_blank">Prof. Inso Kweon.</a></p> 
			<p>I worked in IBM as a software engineer in analytics unit and helped various Korean companies to adopt IBM solutions in their business from 2012 to 2016. I worked in startup company <a href="http://vntc.me" target="_blank">VNTC</a> as a technical leader from 2016 to 2017, which developed personalized spinal correction device for scoliosis patients with 3D printer technology.</p>
			<p>I am currently a data scienctist and entrepreneur to prepare new business to adopt blockchain technology in distributions industries.</p>
                         
          </div><!--//content-->
        </div><!--//section-inner-->                 
      </section><!--//section-->
      <section class="projects section">
        <div class="section-inner">
          <h2 class="heading">Research Interests</h2>
          <div class="content">
            <div class="item">
			  <p class="summary">I designed, developed, and evaluated methods and applications to support various users and customers in multiple domains. My recent research has focused on the following three areas:</p>
              <h3 class="title">Machine Learning: make predictive model and help decision-making based on the data</h3>
              <p class="summary">I consulted and supported various customer's project with data analysis technique to give them business insights.</p>
            </div><!--//item-->

            <div class="item">
              <h3 class="title">Computer Vision: develop face and object recognition</h3>
              <p class="summary">I have experiences with 3D reconstruction, image processing, and photometrics. Mostly, I am focusing on machine learning and deep learning in computer vision for recognition rand perception esearch topics.</p>
            </div><!--//item-->

            <div class="item">
                      <h3 class="title">Data Science: give clear insight from various interdisciplinary fields</h3>
                      <p class="summary">I am conducting reasearch on economics with extensive collected data, which requires interdisciplinary knowledge to give insights based on empirical data set.</p>
                    </div><!--//item-->

              </div><!--//content-->
        </div><!--//section-inner-->
      </section><!--//section-->
    </div><!--//primary-->
	
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside id="search-2" class="widget widget_search">
		<form method="get" class="form-search" action="https://colorlib.com/dazzling/">
	  	  <div class="form-group">
            <div class="input-group">
	  	      <span class="screen-reader-text">Search for:</span>
	  	      <input type="text" class="form-control search-query" placeholder="Search..." value="" name="s">
	  	      <span class="input-group-btn">
              <button type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search"><span class="glyphicon glyphicon-search"></span></button>
	  	      </span>
	  	    </div>
	  	  </div>
	    </form>
      </aside>

      <div class="widget tabbed">
	    <div class="tabs-wrapper">
	      <ul class="nav nav-tabs">
	        <li class="active"><a href="#popular-posts" data-toggle="tab">Popular</a></li>
	        <li><a href="#recent" data-toggle="tab">Recent</a></li>
			{% comment %}
	        <li><a href="#messages" data-toggle="tab"><i class="fa fa-comments tab-comment"></i></a></li>
			{% endcomment %}
	      </ul>

	      <div class="tab-content">
	        <ul id="popular-posts" class="tab-pane active">
	  		  {% blog_popular_posts 5 as popular_posts %}
	  		  {% for blog_post in popular_posts %}
              <li>
				{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
	            <a href="{{ blog_post.get_absolute_url }}" class="tab-thumb thumbnail" rel="bookmark" title="{{ blog_post.title }}">
	              <img width="60" height="60" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}" class="attachment-tab-small size-tab-small wp-post-image" alt="" sizes="(max-width: 60px) 100vw, 60px"/>
			    </a>
				{% endif %}
                <div class="content">
	              <a class="tab-entry" href="{{ blog_post.get_absolute_url }}" rel="bookmark" title="{{ blog_post.title }}">{{ blog_post.title }}</a>
	              <span>
				    <i class="fa fa-clock-o"></i><i>{% blocktrans with sometime=blog_post.publish_date|date:" M.j Y" %}{{ sometime }}{% endblocktrans %}</i>
				  </span>
				  <span>
                    <a href="{{ blog_post.get_absolute_url }}#comments"><i class="fa fa-comment-o"></i><i>{% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} {% endblocktrans %}</i></a>
				  </span>
	            </div>
	          </li>
			  {% endfor %}
	        </ul>
            <ul id="recent" class="tab-pane">
  	  		  {% blog_recent_posts 5 as recent_posts %}
  	  		  {% for blog_post in recent_posts %}
              <li>
              <li>
				{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
	            <a href="{{ blog_post.get_absolute_url }}" class="tab-thumb thumbnail" rel="bookmark" title="{{ blog_post.title }}">
	              <img width="60" height="60" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}" class="attachment-tab-small size-tab-small wp-post-image" alt="" sizes="(max-width: 60px) 100vw, 60px"/>
			    </a>
				{% endif %}
                <div class="content">
	              <a class="tab-entry" href="{{ blog_post.get_absolute_url }}" rel="bookmark" title="{{ blog_post.title }}">{{ blog_post.title }}</a>
	              <span>
				    <i class="fa fa-clock-o"></i><i>{% blocktrans with sometime=blog_post.publish_date|date:" M.j Y" %}{{ sometime }}{% endblocktrans %}</i>
				  </span>
				  <span>
                    <a href="{{ blog_post.get_absolute_url }}#comments"><i class="fa fa-comment-o"></i>{% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} {% endblocktrans %}</a>
				  </span>
	            </div>
	          </li>
              {% endfor %}
	        </ul>
			{% comment %}
            <ul id="messages" class="tab-pane">
              <li>
	            <div class="content">AABBAA on<a href="https://colorlib.com/dazzling/about/page-with-comments/" rel="bookmark" title="Page with comments">Page with comments</a>
                  <p>THIS IS REALLY AWESOME</p>
                </div>
              </li>
            </ul>
			{% endcomment %}
          </div><!--//tab-content-->
        </div><!--//tabs-wrapper-->
      </div><!--//widge-->
    </div><!--//secondary-->    
  </div><!--//row-->
</div><!--//masonry-->

{% endblock %}
